---
layout: default
---

<div class="home">
  <section class="hero">
    <div class="hero_background-container">
      <div class="hero-header">
          <h1>rasmusolofssons.github.io</h1>
      </div>
      <img src="//unsplash.it/1920/1080">
    </div>
  </section>
  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    <div class="post-section">
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    </div>
    {% endfor %}
  </ul>  -->

  <div class="posts">
      <h2>Here are some posts</h2>
    <div class="counters">
        {% for post in site.posts %}
          <div class="section">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>{{ post.title }}</h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        {% endfor %}
      
      </div>
  </div>


</div>
