---
layout: default
---

<div class="home">
  {% include hero.html title="Rasmus Olofsson" imgSrc="assets/img/daylight-fhd.jpg" heroType="start-page" imgAlt="A picture of a lake and mountains"%}

  <div class="posts">
    <h2>Latest posts</h2>
    <div class="counters">
      {% for post in site.posts %}
      <div class="section">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>{{ post.title }}</h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Open</a>
      </div>
      {% endfor %}

    </div>
    <div class="spacer"></div>

  </div>


</div>