.pokemon {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;

    input[type=submit] {
        display: block;
    }

    .evolveTimes {
        display: block;
        width: 150px;
        border: 5px solid green;
        height: 50px;
        margin: 3%;
    }
}


