<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
</head>
  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
<script src="{{ '/assets/js/bundle.js' | relative_url }}"></script>
  </body>

</html>
